body {
  display: grid;
  background-color: #111;
  grid-template-columns: 1.2fr 8.8fr;
  height: 100vh;
  padding: 120px 160px;
}

nav {
  background-color: #111;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 48px 12px;
  gap: 16px;
}

nav h1 {
  color: #aaa;
  font-size: 16px;
  font-weight: 600;
  margin-left: 12px;
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.project-tab {
  padding: 8px 12px;
  color: #aaa;
  background-color: transparent;
  border: none;
  text-align: start;
  border-radius: 6px;
}

.project-tab:hover {
  background-color: #1b1b1b;
}

.todo-list {
  display: flex;
  flex-direction: column;
  padding: 48px 192px;
  /* align-items: center; */
  color: #aaa;
  font-size: 14px;
  gap: 40px;
}

.todo-item {
  display: flex;
  gap: 360px;
  align-items: center;
}

.todo-text > p:nth-of-type(1) {
  /* font-size: 16px; */
  font-weight: 700;
}

.todo-text > p:nth-of-type(2) {
  margin-top: 4px;
}

.state-btn {
  padding: 8px 12px;
  border-radius: 4px;
  line-height: 1;
  height: fit-content;
  background-color: #222;
  color: #aaa;
  border: none;
}