body {
  display: grid;
  background-color: #111;
  grid-template-columns: 1.2fr 8.8fr;
  height: 100vh;
  padding: 120px 160px;
}

nav {
  background-color: #111;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 48px 12px;
  gap: 16px;
}

nav h1 {
  font-size: 16px;
  font-weight: 600;
  margin-left: 12px;
  color: #aaa;
}

.add-project {
  padding: 8px 8px;
  color: #aaa;
  background-color: #222;
  border-style: none;
  border-radius: 4px;
  margin: 8px 12px 12px;
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.project-tab {
  padding: 8px 12px;
  color: #aaa;
  background-color: transparent;
  border: none;
  text-align: start;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.project-tab:hover {
  background-color: #1b1b1b;
}

.todo-list {
  display: flex;
  flex-direction: column;
  padding: 48px 192px;
  /* align-items: center; */
  color: #aaa;
  font-size: 14px;
  gap: 40px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 700px;
}

.todo-name {
  font-weight: 700;
}

.todo-due-date {
  margin-top: 4px;
}

.todo-priority {
  width: fit-content;
  margin-top: 4px;
  opacity: 0.8;
}

.todo-notes {
  margin-top: 4px;
}

/* .todo-due-date-expanded {
  margin-top: 8px;
} */

.high-priority {
  color: #e76f51;
  font-weight: 500;
}

.medium-priority {
  color: #f4a261;
  font-weight: 500;
}

.low-priority {
  color: #669bbc;
  font-weight: 500;
}

.state-btn {
  padding: 8px 12px;
  border-radius: 4px;
  line-height: 1;
  height: fit-content;
  background-color: #181818;
  color: #909090;
  border: none;
}

.ph-folder {
  font-size: 20px;
  color: #aaaaaabf;
}

.ph-plus-circle {
  font-size: 20px;
}
